@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <h1>Hello, @ViewData["Name"]!</h1>
   
    <a asp-area="" asp-controller="Connect" asp-action="Index">Connect new account</a>
    <br />
    <br />
    
    <ul>
        <li><a asp-area="" asp-controller="Profile" asp-action="GetAccount">Get Account</a></li>
        <li><a asp-area="" asp-controller="Profile" asp-action="GetAccounts">Get Accounts</a></li>
        <li><a asp-area="" asp-controller="Profile" asp-action="GetAccountBalance">Get Account Balance</a></li>
        <li><a asp-area="" asp-controller="Profile" asp-action="GetAccountTxns">Get Account Txns</a></li>
    </ul>

    <div id="ResultsView" style="height:400px; width:1200px; background-color:black; color: white; overflow-x:auto; overflow-y:auto">
        <p>@ViewData["Results"]</p>
    </div>
}
