@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <h1>Hello, @ViewData["Name"]!</h1>
    <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Connect" asp-action="Index">Connect new account</a>
    <br />
    <br />
    <section class="container-fluid" height="80%">
        <div class="container-fluid overflow-auto">
            <div class="row">
                
                <div class="row">
                    <div class="col-4 text-center">
                        <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Profile" asp-action="GetAccount">Get Account</a>
                    </div>
                    <div class="col-4 text-center">
                        <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Profile" asp-action="GetAccountBalance">Get Account Balance</a>
                    </div>
                    <div class="col-4 text-center">
                        <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Profile" asp-action="GetAccountTxns">Get Account Txns</a>
                    </div>
                </div>

                 <figure class="md-5">
                    <blockquote class="blockquote" style="font-family: Arial, sans-serif;">
                        <div id="ResultsView" class="bg-dark text-light text-left" style="padding:10px">
                            @Html.Raw(ViewBag.JsonData)
                        </div>
                    </blockquote>
                </figure>
            </div>
        </div>
    </section>
}
