@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>2. Select your bank</h2>
<div>
    <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Connect" asp-action="SelectedModelBank">Model Bank</a>
</div> 

@if (ViewData["ModelBankUrl"] == null)
{   
    <div>
        <a class="btn btn-primary btn-lg disabled" href=@ViewData["ModelBankUrl"] target="_blank">Consent</a>
    </div>
    <div>
        <a asp-area="" class="btn btn-primary btn-lg disabled" asp-controller="Connect" asp-action="LinkAccount">Link Account</a>
    </div>
}
else
{
    <div>
        <a class="btn btn-primary btn-lg" href=@ViewData["ModelBankUrl"] target="_blank">Consent</a>
    </div>
    <div>
        <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Connect" asp-action="LinkAccount">Link Account</a>
    </div>
}


