@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-fluid">
        <div class="row" style="height:95vh">
            
            <div class="steps col-4">
                <div class="mb-5" style="font-family: 'Raleway', sans-serif; font-size:1.5em; padding:7vh;">
                    <span><h1>5 Easy steps for our customers</h1></span><br/>
                    <span>1.   Log into your Happy FinTech profile</span><br/>
                    <br/>
                    <span>2.a. Connect new bank account</span><br/>
                     @if (Context.Session.TryGetValue("AuthServUrl", out var a))
                    {
                        <span>2.b. Select your bank</span><br/>
                        <span><b>2.c. Consent</b></span><br/>
                        @*<span style="font-size:16px">
                        <ul>
                            <li>The AISP presents to the PSU a description of the data that it requires in order to support its service proposition.</li>
                            <li>The PSU is then directed to the domain of its ASPSP for authentication and to select the account(s) they want to give access to. </li>
                            <li>Once the PSU has been authenticated, their ASPSP will be able to respond to the AISP’s request by providing the account information that has been requested.</li>
                        </ul>*@
                        @*</span>*@
                    }
                    else{
                        <b>
                        <span>2.b. Select your bank</span><br/>
                        </b>
                        @*<span style="font-size:16px">
                        <ul>
                            <li>PSU selects the ASPSP(s) where their payment account(s) is held. </li>
                        </ul>
                        </span>*@
                        <span>2.c. Consent</span><br/>
                    }
                    
                    <br/>
                    <span>3.a. Navigate to your bank's login page</span><br/>
                    <span>3.b. Log into your bank account</span><br/>
                    <br/>
                    <span>4.a. Go back to Happy FinTech</span><br/>
                    <span>4.b. Test your connection</span><br/>
                    <br/>
                    <span>5.   View your bank data on Happy Fintech</span><br/>
                    
                </div>
            </div>
            <div class="fintech col-8">
                <br /><br />
                <div class="text-center mb-5">
                    <h1 class="display-4">Happy FinTech</h1>

                    <!-- Page -->
                    

                    @if (!Context.Session.TryGetValue("AuthServUrl", out var b))
                    {   
                        <h3>Select your bank</h3>
                       
                        <br/>
                        <div>
                            <a asp-area="" class="btn btn-primary btn-lg" asp-controller="Connect" asp-action="SelectedModelBank">Model Bank</a>
                        </div> 
                        <br />

                         <br/>
                        
                    }
                    else
                    {
                        <h3>Selected: ModelBank</h3>
                       
                        <br />
                        <div style="margin-left:200px; margin-right:200px">
                            <p>Consent description example:</p>
                            <p>Connect with ModelBank.</p>
                            <p>You will need to give your approval for Happy FinTech to access:</p>
                            <div style="text-align:left; margin-left:250px;">
                            <ul>
                                <li>Your account name, number and sort code </li>
                                <li>Your account balance</li>
                                <li>Incoming and outgoing transactions</li>
                            </ul>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary btn-lg" href=@Context.Session.GetString("AuthServUrl") target="_blank">Consent</a>
                            
                        </div>
                        <br />

                         <br/>
                           
               
                    }

                    

                    <!-- End Page -->
                </div>
            </div>

        </div>
</div>




