@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AISP</h1>
    <p>Welcome</a>.</p>
   
</div>

<div class="text-left">
    <h3>1. Login</h3>
    <a asp-area="" asp-controller="Login" asp-action="Login">Login</a>

    
    <a asp-area="" asp-controller="Home" asp-action="GetAccount">Get Account</a>

</div>
